*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.nav-link{
    color: #ffff;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    padding: 0 !important;

}
.nav-item{
    margin-left: 30px;
}
.nav-link:hover{
    color: white;
}

.nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #008ed6;
    transition: 1s all ease-in-out;
}
.nav-link::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color:#008ed6;
    transition: 1s all ease-in-out;

}

.nav-link:hover::before{
    width: 48%;

}
.nav-link:hover::after{
    width: 48%;
    
}

.banner{

min-height: 90vh;

align-items: center;
}
.banner h4{
    
color: #008ed6;
    
font-size: 14px;
    
text-transform: uppercase;
    
letter-spacing: 1px;
}
.banner h1{
    
color: white;
    
font-size: 40px;
    
padding: 15px 0px 20px 0px;
}
.banner p{
    
color: #9999;
    
margin-bottom: 30px;
}
.btn_download{

color: white;

background-color: #008ed6;

font-size: 16px;

padding: 10px 25px;

border-radius: 3px;

margin-right: 15px;
text-transform: uppercase;
}
.btn_view{
    text-transform: uppercase;

color: white;

background-color: transparent;

font-size: 15px;

padding: 10px 25px;

border-radius: 3px;

border: solid 1px #9999;
}

.btn_view:hover{
    color: white;
    background-color: #008ed6;
    border-color: #008ed6;

}
.btn_download:hover{
    color: white;
    border-color: #9999;
}
.phone{
    position: absolute;
    bottom: 0;
    right: 110px;
    width: 35%;
}
.features{

padding: 70px 0px;
}
.section_title{

text-align: center;

padding-bottom: 30px;
}
.section_title h4{
    
color: #008ed6;
    
font-size: 14px;
    
text-transform: uppercase;
    
letter-spacing: 1px;
}
.section_title h1{
    
color: black;
    
font-size: 40px;
    
padding: 15px 0px 0px 0px;
}
.section_title span{
    
display: block;
    
height: 2px;
    
width: 50px;
    
background-color: transparent;
    
margin: auto;   
margin-top: 20px;
transition: .4s all ease-in-out;
position: relative;
}
.section_title span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #008ed6;
    transition: .4s all ease-in-out;

}
.section_title span::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color:#008ed6;
    transition: .4s all ease-in-out;


}

.features:hover .section_title span::after{
    width: 48%;
}
.features:hover .section_title span::before{
    width: 48%;
}
.feature_item{

text-align: center;
}
.icon_box{

height: 60px;

width: 60px;

border:  1px solid #999;

border-radius: 50%;

text-align: center;

line-height: 60px;

color: #008ed6;

font-size: 24px;

margin: auto;
}
.feature_item h2{

font-size: 25px;

color: black;

padding: 10px 0px 10px 0px;
}
.feature_item p{

font-size: 16px;

color: #999;
}


.details_section{

}
.details_section .section_title{
    text-align: left;
    margin-top: 100px;
}
.phone_img{

}
.details_section p{

margin-bottom: 30px;

font-size: 16px;
}
.details_section ul{

list-style: none;

margin: 0;

padding: 0;
}
.details_section ul li{

display: flex;

color: black;

margin-bottom: 10px;

align-items: center;
}
.details_section ul li .icon_list{

margin-right: 10px;

color: #008ed6;

width: 20px;

height: 20px;

text-align: center;

/* line-height: 20px; */
}


.details_section:hover .section_title span::after, .customize_section:hover .section_title span::after, .pricing_section:hover .section_title span::after , .contact_us:hover .section_title span::after, .testimonial:hover .section_title span::after{
    width: 48%;
}
.details_section:hover .section_title span::before, .customize_section:hover .section_title span::before, .pricing_section:hover .section_title span::before, .contact_us:hover .section_title span::before, .testimonial:hover .section_title span::before{
    width: 48%;
}
.details_section .section_title span, .customize_section .section_title span {
    margin: 20px  0;

}

.customize_section{
    padding: 50px 0;
    background-color: #f2f2f2;

}

.customize_section .section_title{
    text-align: left;
    margin-top: 100px;

}

.testimonial{
    background-image: url(../images/testimonial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;

}
.testimonial .section_title h1{
    color: white;

}

.testimonial p{
    color: white;

}
.client{

display: flex;

margin-top: 20px;
}
.client_img{
    
width: 50px;
    
margin-right: 15px;
    
height: 50px;
    
border-radius: 50%;
    
/* border: 2px solid red; */
    
overflow: hidden;
}
.client_info{
    
}
.client_info p{
    
}
.client_info h5{
    
color: white;
    
font-size: 13px;
}
.live{
    padding: 40px 0;
    background-color: #282828;
}
.live .text p{
    color: white;
    font-size: 30px;
}

.pricing_section{

padding: 70px 0;
}
.pricing_box{

margin-top: 20px;

border: 1px solid #f2f2f2;

padding: 30px 0px;

text-align: center;
}
.pricing_box p{

padding: 20px 15px;
}
.pricing_box h2{

padding-bottom: 30px;
transition: .4s all ease-in-out;
}
.price{

padding: 15px 0;

border-top: 1px solid #f2f2f2;

border-bottom: 1px solid #f2f2f2;
transition: .4s all ease-in-out;
}
.price h1{
    
}
.price h1 sup{
    
}
.price p{

padding: 0 !important;
}
.pricing_box .btn_view{

color:#999;

margin: 30px 0;
transition: .4s all ease-in-out;
}
.pricing_box .btn_view:hover{
    color: black;
}

.pricing_box:hover h2{
    color: #008ed6;

}
.pricing_box:hover .price{
    background-color: #008ed6;
    color: #ffff;
}
.pricing_box:hover .btn_view{
    background-color: #008ed6;
    color: #ffff;
}

.contact_us{
    background-color: #ededed;
    padding: 70px 0;
    position: relative;
    padding-bottom: 350px;
}
.info{
    text-align: center;
}
.info i{
    color: #008ed6;
    margin-bottom: 10px;
    font-size: 30px;
}
.info p{
    color: #999;
}

.contact_form{

BACKGROUND-COLOR: BLACK;

padding: 50px 30px;

position: absolute;

bottom: -100px;

left: 50%;

transform: translateX(-50%);

width: 50%;
}
.contact_form form{

}

.contact_form form input{

background: transparent;

border: 1px solid #f2f2f2;

border-radius: 3px;

margin-bottom: 20px;
}
.contact_form form textarea{

background-color: transparent;

border: 1px solid #f2f2f2;

border-radius: 3px;
}
.contact_form form input[type='submit']{

background-color:#008ed6;
color: #ffff;
border-color: #008ed6;

padding: 10px 30px;

display: block;

margin-left: auto;
}


footer{background-color: #282828;/* width: 100%; *//* margin: auto; */padding: 20px 0px;}
.social{

color: white;
}
.social ul{list-style: none;display: flex;}
.social ul li{
    
padding-right: 10px;
    
font-size: 20px;
}
.social ul li i{
}

.copyright{

}
.copyright p{

color: #999;
}
.footer_box{

}
footer .container{

width: 10%;

margin: auto;
}